body{
	background: #1b1c1d;
}

.row{
}
.cell{
	display:inline-block !important;
	/*height: 100% !important;*/
	vertical-align: top !important;
	overflow: auto !important;
	position: absolute !important;
	margin:0 !important;
	padding:0 !important;
}
.cell.full{
	position: fixed !important;
	top:0 !important;left:0 !important;
	width:100% !important;	height:100% !important;
	z-index: 5;
}

.cell .actions{
	position: absolute;
	bottom:10px;
	right:10px;
}
.cell .actions span{
	margin:0 !important;
	padding:3px !important;
}

.clickToAdd{
	background: rgba(0,0,0,0.2) !important;
}
.clickToAdd span{
	position: absolute;
	top:50%;
	display: block;
	text-align: center;
	width:100%;
	color:white !important;
}
.clickToAdd:hover{
	background: #4a4a4a;
	background: rgba(0,0,0,0.1)
}

.setting-icon{
	height: 1em;
	display: block;
	font-size: 1.71428571em!important;
	margin: 0 auto .5rem!important;
}

.selectBackgroundColor{
	color:white !important;
}
.selectBackgroundColor option{
	color: white;
}

#app{
	height:100%;
	position: relative;
	margin-bottom:0;
	background: #1b1c1d;
}

#app .openSidebar{
	position: absolute;
	top:0;
	z-index: 5555;
	font-size:20px;
	padding:5px;
	background: rgba(0,0,0,0.6);
	color:white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
